<%= form_for @event, url: events_path, authenticity_token: true, remote: true do |f| %>
	
	<div class='form-wrap'>
		
		<div class='header'>
			New event
			<i class='close'>✖</i>
		</div>
		
		<div class='body'>
			
			<div class='form-section event'>
				<div class='field name'>
					<div class='label-container'>
						<%= f.label :name, 'Event name', class: 'label' %>
					</div>
					<div class='text-input-containe'>
						<%= f.text_field :name, class: 'text-input' %>
					</div>
					<div class='clear'></div>
					<span class='error-placeholder'></span>
				</div>

				<div class='field starting_date'>
					<div class='label-container'>
						<%= f.label :starting_date, 'Date', class: 'label' %>
					</div>
					<div class='text-input-containe'>
						<%= f.text_field :starting_date, class: 'text-input date-input', value: Date.today.strftime("%Y/%m/%d") %>
					</div>
					<div class='clear'></div>
					<span class='error-placeholder'></span>
				</div>			
				
			</div>
			
			<div class='form-section locations'>
				<%= render 'locations/forms/fields/new', f: f %>
			</div>
			
			<div class='form-section clients'>
				<!-- Insert clients fields -->
			</div>
			
			<div class='form-section vendors'>
				<%= render 'vendors/forms/fields/new', f: f %>
			</div>
			
		</div>
	
		<div class='footer'>
			<%= f.submit 'Create event', class: 'submit button button-h-40 blue-button'%>
			<%= f.button 'Cancel', type: 'button', class: 'button button-h-40 cancel-button' %>
		</div>
		
	</div>
	
<% end %>