<div id='top-navigation' class='gradient'>	
	
	<% if current_user %>
		<div class='menu user'>
			<ul>
				<li><%= link_to 'Events', events_path %></li>
				<li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
				<li class='user-info'>Signed in as <%= current_user.first_name %></li>
			</ul>
		</div>
	<% else %>
		<div class='menu main'>
			<ul>
				<li><%= link_to 'Sign up', root_path %></li>
				<li><%= link_to 'Sign in', sign_in_path %></li>
			</ul>
		</div>
	<% end %>
</div>
