<div class='contact' id='contact_<%= contact.id %>'>
	<%= link_to '', edit_event_contact_path(@event, contact), class: 'edit-link' %>
	
	<div class='container name'>
		<%= contact.fullname %>
	</div>
	<div class='container phone'>
		<%= contact.phone_number.presence || "-" %>
	</div>
	<div class='container email'>
		<%= contact.email.presence || "-" %>
	</div>
	<div class='container position'>
		<%= contact.position.presence || "-" %>
	</div>
	
	<div class='container vendor-name'>
		<%= contact.vendor.name if contact.vendor %>
	</div>
	
</div>