<div class='vendor' id='vendor_<%= vendor.id %>'>
	
	<div class='header'>
		<div class='cc-ref' style='background: <%= vendor.color %>'></div>
		<%= link_to '', edit_event_vendor_path(@event, vendor), class: 'edit-link modal-link' %>
		<span class='title'><%= "#{vendor.category} - #{vendor.name}"%></span>
		<%= link_to '+ add contact', new_event_contact_path(@event, params: { vendor_id: vendor.id }), class: 'add-link modal-link' %>
		
		<div class='clear'></div>
	</div>
	
	<div class='body'>

		<div class='contacts'>
			<% if vendor.contacts.any? %>

				<% vendor.contacts.each do |contact| %>

					<%= render 'contacts/single', contact: contact %>

				<% end %>

			<% else %>

				No contacts

			<% end %>
		</div>
		
		
	</div>	
</div>