<% contact = @contact if @contact %>

<div class='contact' id='contact_<%= contact.id %>'>
	<div class='information'>
		<span class='name info'><%= "#{contact.first_name} #{contact.last_name}" %></span>
		<span class='title info'><%= contact.position %></span>		
		<span class='email info'><%= contact.email %></span>
		<span class='phone info'><%= contact.phone_number %></span>
	</div>
</div>