<% timeline_item = @timeline_item if @timeline_item %>

<div class='timeline_item' data-start-time='<%= timeline_item.start_time.strftime("%Y/%m/%d %l:%M:00 %p") %>' id='timeline_item_<%= timeline_item.id %>'>
	
	<%= link_to '', edit_timeline_timeline_item_path(@timeline, timeline_item), class: 'edit-link' %>

	<div class='time container'>
		<%= timeline_friendly(timeline_item.start_time, timeline_item.end_time) %>
	</div>
	
	<div class='description container'>
		<%= timeline_item.description %>
	</div>
	
	<div class='clear'></div>
</div>